version: "2"
services:
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - nginx_conf:/etc/nginx/conf.d
      - nginx_vhost:/etc/nginx/vhost.d
      - nginx_html:/usr/share/nginx/html
      - nginx_certs:/etc/nginx/certs:ro
    networks:
      - nginx
  nginx_gen:
     image: jwilder/docker-gen
     container_name: nginx_gen
     volumes_from:
      - nginx
     volumes:
       - ./nginx-proxy/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
       - /var/run/docker.sock:/tmp/docker.sock:ro
     command: ["-notify-sighup", "nginx", "-watch", "-wait", "5s:30s", "/etc/docker-gen/templates/nginx.tmpl",
               "/etc/nginx/conf.d/default.conf"]
     networks:
       - nginx
  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    environment:
      NGINX_DOCKER_GEN_CONTAINER: nginx_gen
    volumes_from:
      - nginx
    volumes:
      - nginx_certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - nginx_gen
    networks:
      - nginx
volumes:
  nginx_conf: {}
  nginx_vhost: {}
  nginx_html: {}
  nginx_certs: {}
